<div *ngIf="curPath.indexOf('search') == 0">
  <search-form (submitForm)="sendRequest($event['place'])"></search-form>
  <div *ngIf="loading">loading...</div>

  <div *ngIf="listings && listings.length > 0">
    <p class="num-of-items-found">
      We have found {{ data.response.total_results }} results that match your search.
    </p>
    <div class="container">
      <div>

        <div *ngFor="let item of pagedItems">{{item.name}}</div>

        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1);sendRequest(place, itemsPerPage, 1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1);
                        sendRequest(place, itemsPerPage, pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page);
                        sendRequest(place, itemsPerPage, page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1);
                        sendRequest(place, itemsPerPage, pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages);
                        sendRequest(place, itemsPerPage, pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <property-item class="listing-item col-md-4" *ngFor="let house of listings"
          [house]="house"
          [houseId]="getHouseId(house)"
          (toggleFavs)="toggleFavorites($event)">
        </property-item>
      </div>
    </div>
  </div>
  <div *ngIf="listings && listings.length == 0">
    <p class="num-of-items-found nothing-found">
      There are no results that match your search. Please, make sure there are no typos in your query.
    </p>
  </div>
</div>

<div *ngIf="curPath == 'favorites'">
  <div *ngIf="favorites && favoritesKeys.length > 0">
    <p class="num-of-items-found">
      You haved marked {{ favoritesKeys.length }} houses as your favorites.
    </p>
    <div class="container">
      <div class="row">
        <property-item class="listing-item col-md-4" *ngFor="let id of favoritesKeys"
                       [house]="favorites[id]"
                       [houseId]="id"
                       (toggleFavs)="toggleFavorites($event)">
        </property-item>
      </div>
    </div>
  </div>
  <div *ngIf="favorites && favoritesKeys.length == 0">
    <p class="num-of-items-found nothing-found">
      You haven't added anything to your 'Favorites' list yet <a href="/search">Search for properties</a>?
    </p>
  </div>
</div>
