<div class="row">
  <div class="col-md-5">
    <h3>Enter a keyword (city, location, etc.)</h3>
    <form #f="ngForm">
      <div class="form-group">
        <label for="searchField">Search for properties</label>
        <div class="input-group">
          <input type="text" name="place" class="form-control"
                 [(ngModel)]="formContent"
                 id="searchField" placeholder="Enter a location..." autofocus>
          <span class="input-group-btn">
              <button type="submit" class="btn btn-default"
                      (click)="onSubmit(f.value)">
                Search
              </button>
            </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <div class="row coords-info">
      <h4>Or you can search for properties that are closest to your location</h4>

      <div *ngIf="myMockGeolocation" class="col-md-8">
        <h4>Your mock coordinates are:</h4>
        <form>
          <div class="form-group row" class="col-md-8">
            <div class="input-group">
              <label for="latitude">Latitude:</label>
              <input type="text" value="{{ myMockGeolocation.latitude }}"
                             id="latitude" name="latitude"
                             [(ngModel)]="myMockGeolocation.latitude">
            </div>
            <div class="input-group">
              <label for="latitude">Latitude:</label>
              <input type="text" value="{{ myMockGeolocation.longitude }}"
                              id="longitude" name="longitude"
                              [(ngModel)]="myMockGeolocation.longitude">
            </div>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmitLocation(myMockGeolocation)">My location</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
